@font-face {
    font-family: 'Agency FB Condensed';
    src: url(../assets/font/agency-fb-condensed-bold.otf);
}

@font-face {
    font-family: 'Oswald Ligth';
    src: url(../assets/font/oswald-light.ttf);
}

* {
    text-transform: uppercase;
    font-family: 'Agency FB Condensed';
    letter-spacing: 2px;
}

/* NAVBAR [inicio] */
.logo-navbar {
    width: 400px;
    height: auto;
}

.nav-item {
    margin: 4px;
}

.nav-item a:hover {
    color: rgb(236, 236, 42);
    transition: .8s;
}

.nav-item a {
    font-size: 30px;
    font-weight: bold;
}


.slogan {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    background-color: black;
}

.slogan h1 {
    color:  rgb(236, 236, 42);
    font-size: 24px;
    letter-spacing: 20px;
}

.active-item {
    border-bottom: 2px solid rgba(255, 255, 0, 0.336);
}

/* NAVBAR [fin] */


/* CONTANIER HOME PAGE [incio]*/

.main-home-page {
    background: linear-gradient(to bottom
    ,rgba(0, 0, 0, 0.918)
    ,rgba(0, 0, 0, 0.829))    
    ,url(/assets/img/textura-fondo-home.jpg);
    background-position: top;
}

.container {  
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: row;
    grid-template-areas:
      "slide-disciplinas slide-disciplinas instagram-post"
      "crossfit-resumen crossfit-resumen instagram-post"
      "calistenia-resumen calistenia-resumen instagram-post"
      "funcional-resumen funcional-resumen instagram-post";

    padding-top: 25px;
}

/* CONTANIER HOME PAGE [fin]*/


/* PUBLICACIONES INSTAGRAM [inicio]*/
.enlace-ig img {
    padding-bottom: 9px;
    width: 30px;
}

.enlace-ig {
    justify-content: center;
    padding-top: 15px;
    text-decoration: none;
    font-size: 30px;
    color: rgba(255, 255, 0, 0.849);
}

.instagram-slide {
    background-color: black;
    display: flex;
    align-items: center;
}

.instagram-post {
    grid-area: instagram-post; 
    
    margin-left: 30px; 
}

.instagram-post aside {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgba(255, 255, 0, 0.459);
}

.instagram-post iframe {
    font-size: 15px;
    margin: 10px;
    width: 400px;
    height: 500px; 
}

/* PUBLICACIONES INSTAGRAM [fin]*/


/* CAROUSEL DE IMAGENES [inicio]*/

.slide-disciplinas .ubicacion:hover {
    color: yellow;
    letter-spacing: 3px;
    transition: .6s;
}

.ubicacion {
    color: white;
    text-decoration: none;
    font-size: 35px
}

.icono-ubicacion {
    margin-left: 20px;
    width: 30px;
}

.slide-disciplinas {
    grid-area: slide-disciplinas; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carouselExampleDark {
    border-radius: 10px;
    width: 100%;
}

.carousel-item h5 {
    font-size: 38px;
    letter-spacing: 15px;
    background-color: rgba(0, 0, 0, 0.575);
    color: white;
}

.carousel-item p {
    font-size: 20px;
    font-family: 'Oswald Ligth';
    color: white;
    background-color: rgba(0, 0, 0, 0.363);
}

/* CAROUSEL DE IMAGENES [inicio]*/


/*CONTENIDO PRINCIPAL HOME [incio]*/    
.crossfit-resumen {
    grid-area: crossfit-resumen; 
}
  
.calistenia-resumen {
    grid-area: calistenia-resumen; 
}
  

.funcional-resumen {
     grid-area: funcional-resumen; 
}

.resumen-disciplina {
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 800px;
}

.resumen-disciplina p {
    width: 600px;
    font-size: 20px;
    font-family: 'Oswald Ligth';
    text-align: justify;
}

.resumen-disciplina h2 {
    color: rgb(240, 229, 217);
    font-size: 45px;
    letter-spacing: 20px;
    margin-bottom: 25px;
    color: yellow;
}

.crossfit-resumen {
    background: linear-gradient(to bottom
        , rgba(0, 0, 0, 0.966)
        , rgba(0, 0, 0, 0.397))
        , url(/assets/img/crossfit-medicine-ball.jpg);

    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.calistenia-resumen {
    background: linear-gradient(to bottom
        , rgba(0, 0, 0, 0.966)
        , rgba(0, 0, 0, 0.397))
        , url(/assets/img/calistenia.jpg);
        
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 10px;
}

.funcional-resumen {
    background: linear-gradient(to bottom
        , rgba(0, 0, 0, 0.966)
        , rgba(0, 0, 0, 0.397))
        , url(/assets/img/cuerdas-funcional.jpg);
        
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-bottom: 20px;
}

/*CONTENIDO PRINCIPAL HOME [fin]*/

/* FOOTER [inicio]*/
.footer-container {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.footer-container .slogan-footer {
    width: 300px;
}

.footer-container .icono-instagram-footer {
    width: 20px;
}

.footer-container .volver-inicio {
    padding-top: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Oswald Ligth';
}

.footer-container .volver-inicio:hover {
    color: yellow;
}

/* FOOTER [fin]*/

/* PAGINA HORARIOS [inicio]*/
.container-horarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px ;

    background: linear-gradient(to bottom
    ,rgba(0, 0, 0, 0.89)
    ,rgba(0, 0, 0, 0.281))
    ,url(/assets/img/crossfit.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.horarios-crossfit {
    display: flex;
    flex-direction: row;
}

/* PAGINA HORARIOS [fin]*/